package {{package}}.ui.dto;

import de.egore911.appframework.ui.dto.AbstractDto;

public class {{typeCase}} extends AbstractDto {

    private String name;

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }

}
