package {{package}}.ui;

import java.util.UUID;

import de.egore911.appframework.testing.ui.AbstractCRUDTest;
import {{package}}.ui.dto.{{typeCase}};
import io.quarkus.test.junit.QuarkusTest;

import static org.assertj.core.api.Assertions.assertThat;

@QuarkusTest
public class {{typeCase}}CRUDTest extends AbstractCRUDTest<{{typeCase}}> {

    @Override
    protected {{typeCase}} createFixture() {
        {{typeCase}} fixture = new {{typeCase}}();
        fixture.name = UUID.randomUUID().toString();
        return fixture;
    }

    @Override
    protected String getPath() {
        return "{{typeLower}}";
    }

    @Override
    protected Class<{{typeCase}}> getFixtureClass() {
        return {{typeCase}}.class;
    }

    @Override
    protected void modifyFixture({{typeCase}} fixture) {
        fixture.name = UUID.randomUUID().toString();
    }

    @Override
    protected void compareDtos({{typeCase}} fixture, {{typeCase}} created) {
        assertThat(created.name).isEqualTo(fixture.name);
    }

}
