package {{package}}.persistence.dao;

import de.egore911.appframework.testing.persistence.dao.AbstractDaoCRUDTest;
import {{package}}.persistence.model.{{typeCase}}Entity;
import io.quarkus.test.junit.QuarkusTest;

import java.util.UUID;

import javax.inject.Inject;

@QuarkusTest
public class {{typeCase}}DaoTest extends AbstractDaoCRUDTest<{{typeCase}}Entity> {

    @Override
    protected {{typeCase}}Entity createFixture() {
        {{typeCase}}Entity {{typeLower}} = new {{typeCase}}Entity();
        {{typeLower}}.name = UUID.randomUUID().toString();
        return {{typeLower}};
    }

    @Override
    protected void modifyFixture({{typeCase}}Entity {{typeLower}}) {
        {{typeLower}}.name = UUID.randomUUID().toString();
    }

    @Override
    protected long count() {
        return {{typeCase}}Entity.count();
    }

    @Override
    protected {{typeCase}}Entity findById(long id) {
        return {{typeCase}}Entity.findById(id);
    }

}
