<h1 class="page-header"><i class="fa fa-question-circle"></i>{{'{{'}}!vm.{{typeLower}}.name ? '&nbsp;' : vm.{{typeLower}}.name{{'}}'}}</h1>

<form class="form-horizontal">
  <label-group label="{{'{{'}}'name' | translate{{'}}'}}">
    <p>
      <input type="text" class="form-control" ng-model="vm.{{typeLower}}.name" />
    </p>
  </label-group>
  <button type="submit" ng-click="vm.save()" class="btn btn-secondary"><i class="fa fa-floppy-o"></i> {{'{{'}}'save' | translate{{'}}'}}</button>
</form>
