/// <reference path="../../../../../../../../node_modules/@types/angular/index.d.ts" />
//@ts-check
(function() {
    'use strict';

    angular.module('{{project}}App')
        .controller('{{typeCase}}ListController', {{typeCase}}ListController);

    {{typeCase}}ListController.$inject = ['$location', '$http', '{{typeCase}}', '$uibModal', '$translate', '$scope', 'Paging'];

    /**
     * @param {ng.ILocationService} $location
     * @param {ng.IHttpService} $http
     * @param {{{project}}.dto.{{typeCase}}} {{typeCase}}
     * @param {ng.ui.bootstrap.IModalService} $uibModal
     * @param {ng.translate.ITranslateService} $translate
     * @param {ng.IScope} $scope
     * @param {appframework.PagingFactory} Paging
     * @constructor
     */
    function {{typeCase}}ListController($location, $http, {{typeCase}}, $uibModal, $translate, $scope, Paging) {
        /** @type {{{project}}.controller.{{typeCase}}ListController} */
        // @ts-ignore
        var vm = this;

        vm.paging = Paging.pager();

        vm.add = add;
        vm.clone = clone;
        vm.remove = remove;

        activate();

        function activate() {
            vm.paging.predicate = 'name';
            vm.paging.factory = {{typeCase}};
            $scope.$watch('search', function() {
                vm.paging.currentPage = 1;
                vm.paging.loadData();
            });
        }

        function add() {
            $location.path('/{{typeLower}}s/new');
        }

        /**
         * @param {number} id
         */
         function clone(id) {
            $location.path('/{{typeLower}}s/clone/' + id);
        }

        /**
         * @param {{{project}}.dto.{{typeCase}}} {{typeLower}}
         */
        function remove({{typeLower}}) {
            $http.get('rest/{{typeLower}}/deletable/' + {{typeLower}}.id).then(function(cascadeDeletes) {
                $uibModal.open({
                    templateUrl: 'appframework/controller/confirm.html',
                    controller: 'ConfirmController',
                    controllerAs: 'vm',
                    resolve: {
                        entityname: function() { return {{typeLower}}.name; },
                        cascadeDeletes: function() { return cascadeDeletes.data; },
                        okCallback: function() {
                            return function() {
                                {{typeLower}}.$delete(function() {
                                    vm.paging.loadData();
                                }, function(response) {
                                    toastr.error(response.data, $translate.instant('remove_failed'), {timeOut: 0});
                                });
                            };
                        }
                    }
                });
            });
        }

    }
})();
