/// <reference path="../../../../../../../../node_modules/@types/angular/index.d.ts" />
//@ts-check
(function() {
    'use strict';

    angular.module('{{project}}App')
        .factory('{{typeCase}}', {{typeCase}});

    {{typeCase}}.$inject = ['$resource'];

    /**
     * @param {ng.resource.IResourceService} $resource
     * @constructor
     */
    function {{typeCase}}($resource) {
        return $resource('rest/{{typeLower}}/:id', { id: '@id' }, {
            update: {
                method: 'PUT'
            }
        });
    }
})();
