export namespace {{project}} {
    interface dto {
        interface {{typeCase}} extends angular.resource.IResourceClass<{{typeCase}}>, angular.resource.IResource<{{typeCase}}>, appframework.dto.AbstractDto {
            $update(callback: () => void): void;
            name: string;
        }
    }
    interface controller {
        interface {{typeCase}}DetailController extends angular.IScope {
            {{typeCase}}: dto.{{typeCase}};
            save(): void;
        }

        interface {{typeCase}}ListController extends angular.IScope {
            paging: appframework.Pager<dto.{{typeCase}}>;
            add: () => void;
            clone: (id: number) => void;
            remove: ({{typeLower}}: dto.{{typeCase}}) => void;
        }
    }
}