<h1 class="page-header"><i class="fa fa-question-circle"></i><span translate="{{typeLower}}s"></span></h1>

<div style="text-align: center;" ng-show="vm.paging.is_loading">
  <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
  <span class="sr-only" translate="loading"></span>
</div>

<div ng-hide="vm.paging.is_loading">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-6">
        <span ng-click="vm.paging.order('name')" translate="name"></span>
        <span class="sortorder" ng-show="vm.paging.predicate === 'name'" ng-class="{reverse: vm.paging.reverse}"></span>
      </th>
      <th class="col-sm-1" translate="action"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="{{typeLower}} in vm.paging.data | filter: search">
      <td><a href="#{{typeLower}}s/{{'{{'}}{{typeLower}}.id{{'}}'}}" ng-bind="{{typeLower}}.name"></a></td>
      <td>
        <button ng-if="main.hasPermission('ADMIN_{{typeUpper}}S')" ng-click="vm.remove({{typeLower}})" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i> {{'{{'}}'remove' | translate{{'}}'}}</button>
        <button ng-if="main.hasPermission('ADMIN_{{typeUpper}}S')" ng-click="vm.clone({{typeLower}}.id)" class="btn btn-light btn-sm"><i class="fa fa-clone"></i> {{'{{'}}'clone' | translate{{'}}'}}</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
        <td colspan="2" style="text-align: center;">
            <ul uib-pagination total-items="vm.paging.total" items-per-page="vm.paging.pagesize" max-size="vm.paging.maxPages" force-ellipses="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                ng-model="vm.paging.currentPage" ng-change="vm.paging.loadData()" ng-show="vm.paging.total > 0 && vm.paging.total > vm.paging.pagesize"></ul>
        </td>
    </tr>
  </tfoot>
</table>
<button ng-click="vm.add()" class="btn btn-light"><i class="fa fa-plus-circle"></i> {{'{{'}}'add' | translate{{'}}'}}</button>
</div>
