/// <reference path="../../../../../../../../node_modules/@types/angular/index.d.ts" />
//@ts-check
(function() {
    'use strict';

    angular.module('{{project}}App')
        .controller('{{typeCase}}DetailController', {{typeCase}}DetailController);

    {{typeCase}}DetailController.$inject = ['$route', '$location', '{{typeCase}}'];

    /**
     * @param {ng.route.IRouteService} $route
     * @param {ng.ILocationService} $location
     * @param {{{project}}.dto.{{typeCase}}} {{typeCase}}
     * @constructor
     */
    function {{typeCase}}DetailController($route, $location, {{typeCase}}) {
        /** @type {{{project}}.controller.{{typeCase}}DetailController} */
        // @ts-ignore
        var vm = this;

        activate();

        function activate() {
            if ($route.current.params.id === 'new') {
                vm.{{typeLower}} = new {{typeCase}}();
                vm.save = function() {
                    vm.{{typeLower}}.$save(function() {
                        $location.path('/{{typeLower}}s');
                    });
                };
            } else {
                {{typeCase}}.get({id: $route.current.params.id}).$promise.then(function({{typeLower}}) {
                    vm.{{typeLower}} = {{typeLower}};
                });
                vm.save = function() {
                    vm.{{typeLower}}.$update(function() {
                        $location.path('/{{typeLower}}s');
                    });
                };
            }
        }
        
    }
})();
