package {{package}}.persistence.selector;

import de.egore911.appframework.testing.persistence.selector.AbstractResourceSelectorTest;
import {{package}}.persistence.model.{{typeCase}}Entity;
import io.quarkus.test.junit.QuarkusTest;

@QuarkusTest
public class {{typeCase}}SelectorTest extends AbstractResourceSelectorTest<{{typeCase}}Entity> {

    @Override
    protected {{typeCase}}Selector getSelector() {
        return new {{typeCase}}Selector(entityManager);
    }

}
