package {{package}}.util.mappers;

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

import de.egore911.appframework.mapping.ResourceMapper;
import {{package}}.persistence.model.{{typeCase}}Entity;
import {{package}}.ui.dto.{{typeCase}};

@Mapper
public interface {{typeCase}}Mapper extends ResourceMapper<{{typeCase}}, {{typeCase}}Entity> {

    {{typeCase}}Mapper INSTANCE = Mappers.getMapper({{typeCase}}Mapper.class);

}
