package {{package}}.persistence.model;

import javax.persistence.Entity;
import javax.persistence.Table;

import de.egore911.appframework.persistence.model.DbObject;

@Entity(name = "{{typeCase}}")
@Table(name = "{{typeLower}}")
public class {{typeCase}}Entity extends DbObject {

    private String name;

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }

}
