package {{package}}.ui.rest;

import javax.inject.Inject;
import javax.ws.rs.Path;

import de.egore911.appframework.ui.rest.AbstractResourceService;
import {{package}}.persistence.dao.{{typeCase}}Dao;
import {{package}}.persistence.model.{{typeCase}}Entity;
import {{package}}.persistence.model.Permission;
import {{package}}.persistence.selector.{{typeCase}}Selector;
import {{package}}.ui.dto.{{typeCase}};

@Path("rest/{{typeLower}}")
public class {{typeCase}}Service extends AbstractResourceService<{{typeCase}}, {{typeCase}}Entity> {

    @Inject
    {{typeCase}}Dao {{typeLower}}Dao;

    @Override
    protected Class<{{typeCase}}> getDtoClass() {
        return {{typeCase}}.class;
    }

    @Override
    protected Class<{{typeCase}}Entity> getEntityClass() {
        return {{typeCase}}Entity.class;
    }

    @Override
    protected {{typeCase}}Selector getSelector() {
        return new {{typeCase}}Selector(entityManager);
    }

    @Override
    protected {{typeCase}}Dao getDao() {
        return {{typeLower}}Dao;
    }

    @Override
    protected String getCreatePermission() {
        return Permission.ADMIN_{{typeUpper}}S.name();
    }

    @Override
    protected String getReadPermission() {
        return Permission.SHOW_{{typeUpper}}S.name();
    }

    @Override
    protected String getUpdatePermission() {
        return Permission.ADMIN_{{typeUpper}}S.name();
    }

    @Override
    protected String getDeletePermission() {
        return Permission.ADMIN_{{typeUpper}}S.name();
    }

}
