package {{package}}.persistence.selector;

import java.util.List;

import javax.annotation.Nonnull;
import javax.persistence.EntityManager;
import javax.persistence.criteria.CriteriaBuilder;
import javax.persistence.criteria.CriteriaQuery;
import javax.persistence.criteria.Predicate;
import javax.persistence.criteria.Root;

import org.apache.commons.lang3.StringUtils;

import de.egore911.appframework.persistence.selector.AbstractResourceSelector;
import {{package}}.persistence.model.{{typeCase}}Entity;
import {{package}}.persistence.model.{{typeCase}}Entity_;

public class {{typeCase}}Selector extends AbstractResourceSelector<{{typeCase}}Entity> {

    private String search;

    public {{typeCase}}Selector(EntityManager em) {
        super(em);
    }

    @Override
    @Nonnull
    protected List<Predicate> generatePredicateList(@Nonnull CriteriaBuilder builder,
                                                    @Nonnull Root<{{typeCase}}Entity> from,
                                                    @Nonnull CriteriaQuery<?> criteriaQuery) {
        List<Predicate> predicates = super.generatePredicateList(builder, from, criteriaQuery);

        if (StringUtils.isNotEmpty(search)) {
            predicates.add(builder.like(from.get({{typeCase}}Entity_.name), '%' + search + '%'));
        }

        return predicates;
    }

    @Override
    public {{typeCase}}Selector withSearch(String search) {
        this.search = search;
        return this;
    }

    @Override
    @Nonnull
    protected Class<{{typeCase}}Entity> getEntityClass() {
        return {{typeCase}}Entity.class;
    }

}
